.root { -fx-font-family: 'Aptos'; -fx-font-size: 20.0px; }
.text { -fx-fill: #000000; }
.button, .date-picker .arrow-button, .spinner .increment-arrow-button, .spinner .decrement-arrow-button { -fx-border-radius: 5px; -fx-background-radius: 5px; -fx-background-insets: 1px; -fx-border-width: 1px; -fx-border-color: #000000; -fx-background-color: #FFFFFF; }
.button .text, .date-picker .arrow-button .text { -fx-fill: #000000; }
.button:hover, .date-picker .arrow-button:hover { -fx-background-color: #CCCCCC; }
.button:pressed, .date-picker .arrow-button:pressed { -fx-background-color: #E0E0E0; }
.box { -fx-background-radius: 5px; -fx-background-insets: 0; -fx-border-radius: 5px; -fx-background-insets: 1px; -fx-border-width: 1px; -fx-border-color: #000000; -fx-background-color: #FFFFFF; }
.box .text { -fx-fill: #000000; }
.box:hover { -fx-background-color: #CCCCCC; }
.box:pressed { -fx-background-color: #E0E0E0; }
.check-box:selected .mark { -fx-background-color: #000000; }
.combo-box-base { -fx-background-color: #FFFFFF; -fx-background-radius: 5px; -fx-border-radius: 5px; -fx-background-insets: 1px; -fx-border-width: 1px; -fx-border-color: #000000; }
.combo-box-base .text { -fx-fill: #000000; }
.combo-box-base .arrow { -fx-background-color: #000000; }
.combo-box-popup .list-view { -fx-background-color: #FFFFFF; }
.combo-box-popup .list-view .list-cell { -fx-background-color: 'transparent'; }
.combo-box-popup .list-view .list-cell:hover { -fx-background-color: #CCCCCC; }
.combo-box-popup .list-view .list-cell:filled:selected { -fx-background-color: #CCCCCC; }
.dialog-pane { -fx-background-color: #6DA6BB; }
.my-dialog-title { -fx-padding: 6.0px 0 6.0px 0; }
.dialog-pane .header-bar { -fx-border-color: #FFFFFF; -fx-border-width: 0 0 1 0; -fx-background-color: #6DA6BB; }
.my-dialog-vbox { -fx-background-color: #6DA6BB; -fx-padding: 10.0px; -fx-alignment: top-center; }
.my-dialog-scrollpane { -fx-background-color: #6DA6BB; -fx-padding: 16.7 16.7 0 16.7; }
.my-dialog-scrollpane:focused { -fx-background-insets: 0; }
.dialog-pane .viewport { -fx-background-color: #6DA6BB; }
.text-field { -fx-text-fill: #000000; -fx-alignment: center; -fx-padding: 10px 20px 10px 20px; -fx-background-color: #FFFFFF; -fx-background-radius: 5px; -fx-border-color: #000000; -fx-border-width: 1px; -fx-border-radius: 5px; -fx-background-insets: 1px; }
.text-field:disabled { -fx-opacity: 1.0; -fx-background-color: #B3D6E2; -fx-border-color: #000000; -fx-text-fill: #8B0000; -fx-font-weight: bold; }
.text-field:invalid-query { -fx-text-fill: #8B0000; }
.text-area { -fx-text-fill: #000000; -fx-background-color: #FFFFFF; -fx-background-radius: 5px; -fx-border-color: #000000; -fx-border-width: 1px; -fx-border-radius: 5px; -fx-background-insets: 1px; }
.text-area .content { -fx-background-color: #FFFFFF; -fx-background-radius: 5px; }
.text-area .viewport { -fx-background-color: #FFFFFF; -fx-background-radius: 5px; }
.menu-bar { -fx-background-color: #6DA6BB; }
.menu-button { -fx-padding: 6.0px 8.0px; }
.menu-item { -fx-padding: 2.0px 10.0px; -fx-font-family: 'Aptos'; }
.my-spacer { -fx-opacity: 0; -fx-pref-height: 6.0px; }
.menu-item:focused { -fx-background-color: #8BD3EE; }
.menu-item:hover { -fx-background-color: #8BD3EE; }
.menu-item:disabled:hover { -fx-background-color: transparent; }
.menu-item:disabled .label { -fx-text-fill: #000000; }
.menu:hover { -fx-background-color: #8BD3EE; }
.menu:showing { -fx-background-color: #8BD3EE; }
.context-menu { -fx-background-color: #6DA6BB; -fx-border-color: #FFFFFF; -fx-border-width: 1px; }
.my-header-bar { -fx-border-color: #FFFFFF; -fx-border-width: 0 0 1 0; -fx-background-color: #6DA6BB; }
.my-header-leading { -fx-padding: 0 0 0 10.0px; }
.date-picker { -fx-background-color: transparent; -fx-border-color: transparent; -fx-background-insets: 0; -fx-padding: 0; }
.date-picker .arrow-button { -fx-background-color: #FFFFFF; }
.date-picker .arrow-button:hover { -fx-background-color: #CCCCCC; }
.date-picker .arrow-button .arrow { -fx-background-color: #000000; }
.date-picker-popup { -fx-background-color: #6DA6BB; -fx-border-color: #000000; -fx-border-width: 1px; }
.date-picker-popup .month-year-pane { -fx-background-color: #6DA6BB; }
.date-picker-popup .month-year-pane .label .text { -fx-fill: #000000; -fx-font-weight: bold; }
.date-picker-popup .spinner .button { -fx-background-color: #FFFFFF; }
.date-picker-popup .spinner .button:hover { -fx-background-color: #CCCCCC; }
.date-picker-popup .spinner .button .left-arrow { -fx-background-color: #000000; }
.date-picker-popup .spinner .button .right-arrow { -fx-background-color: #000000; }
.date-picker-popup .day-name-cell { -fx-background-color: #6DA6BB; }
.date-picker-popup .day-name-cell .text { -fx-fill: #000000; }
.date-picker-popup .day-cell .text { -fx-fill: #000000; }
.date-picker-popup .day-cell { -fx-background-color: #6DA6BB; }
.date-picker-popup .day-cell.previous-month .text, .date-picker-popup .day-cell.next-month .text { -fx-fill: #000000; }
.date-picker-popup .day-cell.previous-month, .date-picker-popup .day-cell.next-month { -fx-background-color: #8BD3EE; }
.date-picker-popup .day-cell:hover { -fx-background-color: #324B55; }
.spinner { -fx-background-color: transparent; -fx-border-color: transparent; -fx-pref-width: -1; -fx-background-insets: 0; -fx-padding: 0; -fx-pref-width: -1; -fx-min-width: -fx-pref-width; }
.spinner .text-field { -fx-pref-column-count: 5; }
.spinner .text-field:focused { -fx-background-insets: 0; }
.scroll-bar .track { -fx-background-color: #7CBDD5; }
.scroll-bar .thumb { -fx-background-color: #FFFFFF; }
.scroll-bar .thumb:hover { -fx-background-color: #CCCCCC; }
.scroll-bar .increment-button, .scroll-bar .decrement-button { -fx-background-color: #6DA6BB; }
.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow { -fx-background-color: #000000; }
.tooltip { -fx-border-color: #000000; -fx-border-width: 1px; -fx-border-radius: 10px; -fx-background-insets: 1px; -fx-background-radius: 10px; -fx-background-color: #B3D6E2; -fx-padding: 10.0px; -fx-font-size: 20.0px; }
.my-info-label { -fx-background-color: #0000000F; -fx-border-color: #000000; -fx-border-width: 1px; -fx-border-radius: 10px; -fx-background-insets: 1px; -fx-background-radius: 10px; -fx-padding: 10px 22px 10px 22px; }
.my-info-label Text { -fx-fill: #000000; }
.my-info-label.question { -fx-background-color: #0000000F; }
.my-info-label.progress { -fx-background-color: #0000000F; }
.my-info-label.history { -fx-background-color: #0000000F; }
.my-info-label.clock { -fx-background-color: #0000000F; }
.my-info-label.clock Text { -fx-font-family: 'Aptos'; -fx-font-size: 60.0px; }
.my-info-label.clock:paused Text { -fx-fill: #00000087; }
.my-icon-button { -fx-padding: 0; -fx-background-color: #FFFFFF; -fx-border-color: #000000; -fx-border-width: 1px; -fx-border-radius: 5px; -fx-background-insets: 1px; -fx-background-radius: 5px; }
.my-icon-button:hover { -fx-background-color: #CCCCCC; }
.my-icon-button:disabled { -fx-opacity: 1.0; -fx-background-color: #B3D6E2; }
.my-image-map-pane #borderOverlay { -fx-border-color: #000000; -fx-border-width: 1px; -fx-border-radius: 25px; -fx-background-insets: 1px; }
.first { -fx-fill: transparent; -fx-stroke: transparent; -fx-stroke-line-cap: round; -fx-stroke-line-join: round; }
.second { -fx-fill: transparent; -fx-stroke: transparent; -fx-stroke-width: 2px; -fx-stroke-line-cap: round; -fx-stroke-line-join: round; }
.river .second { -fx-stroke-width: 12px; }
.my-image-map-shape:correct .first { -fx-fill: #A2CF6E; }
.my-image-map-shape:correct .second { -fx-stroke: #00224B; }
.my-image-map-shape:correct.river .first { -fx-stroke: #00224B; -fx-fill: transparent; -fx-stroke-width: 7px; }
.my-image-map-shape:correct.river .second { -fx-stroke: #A2CF6E; -fx-fill: transparent; -fx-stroke-width: 4px; }
.my-image-map-shape:incorrect .first { -fx-fill: #FF7E82; }
.my-image-map-shape:incorrect .second { -fx-stroke: #00224B; }
.my-image-map-shape:marked .first { -fx-fill: transparent; -fx-stroke: #00224B; -fx-stroke-width: 7px; }
.my-image-map-shape:marked .second { -fx-fill: transparent; -fx-stroke: #F6D96B; -fx-stroke-width: 4px; }
.my-image-background-layer { -fx-fill: #00000000; }
.my-image-border-layer { -fx-stroke: #000000; -fx-stroke-width: 1px; -fx-stroke-type: inside; }
.my-mc-button { -fx-padding: 10px 20px 10px 20px; }
.my-mc-button:active { -fx-background-color: #FFFFFF; }
.my-mc-button:active:hover { -fx-background-color: #CCCCCC; }
.my-mc-button:active:pressed { -fx-background-color: #E0E0E0; }
.my-mc-button:inactive { -fx-background-color: #B3D6E2; }
.my-mc-button:correct { -fx-background-color: #A2CF6E; }
.my-mc-button:incorrect { -fx-background-color: #FF7E82; }
.my-mc-button:squeezed { -fx-wrap-text: true; -fx-padding: 0px 20px 0px 20px; -fx-line-spacing: -8.0px; -fx-text-alignment: center; }
.my-mc-button:tiny { -fx-wrap-text: true; -fx-padding: 0px 20px 0px 20px; -fx-line-spacing: -5.6000000000000005px; -fx-font-size: 14.0px; }
.my-answer-slot:active { -fx-background-color: #F0F6F8; }
.my-map-shape { -fx-stroke: #00224B; -fx-stroke-width: 1.8px; }
.my-map-shape:active { -fx-fill: #FFFFFF; }
.my-map-shape:active:hover { -fx-fill: #CCCCCC; -fx-effect: innershadow(gaussian, rgba(0,0,0,0.5), 15, 0, 0, 0); }
.my-map-shape:correct { -fx-fill: #A2CF6E; }
.my-map-shape:incorrect { -fx-fill: #FF7E82; }
.my-map-shape:marked { -fx-fill: #F6D96B; }
.my-map-shape:inactive { -fx-fill: #B3D6E2; }
.my-shape-map-pane:paused .my-map-shape:active { -fx-fill: #B3D6E2; }
.my-shape-map-pane:paused .my-map-shape:active:hover { -fx-fill: #B3D6E2; -fx-effect: null; }
.layer-neighbor { -fx-fill: #E0E0E0; }
.layer-water { -fx-fill: #C6ECFF; }
.my-map-shape.layer-overlay { -fx-fill: transparent; -fx-stroke: #00224B; -fx-stroke-width: 2.8px; }
.my-table-view .table-row-cell:odd { -fx-background-color: #000000, #6DA6BB; }
.my-table-view .table-row-cell:focused { -fx-background-insets: 0, 0 0 1 0; }
.my-table-view .table-row-cell { -fx-background-color: #000000, #74B1C8; }
.my-table-view .table-row-cell:selected { -fx-background-color: #000000, #8BD3EE; -fx-background-insets: 0, 0 0 1 0; }
.my-table-view .column-header-background { -fx-background-color: #6DA6BB; }
.my-table-view .column-header, .my-table-view .filler { -fx-background-color: #6DA6BB; -fx-border-color: transparent #000000 #000000 transparent; }
.my-table-view .column-header .label { -fx-alignment: CENTER-LEFT; }
.my-table-view .table-cell { -fx-border-color: transparent #000000 transparent transparent; }
.my-table-view { -fx-border-color: #000000; -fx-focus-color: transparent; -fx-border-width: 1; -fx-faint-focus-color: transparent; -fx-background-insets: 0; -fx-padding: 0; }
.my-table-view:focused { -fx-background-color: -fx-control-inner-background; -fx-background-insets: 0; -fx-padding: 0; }
.my-table-view .text-field { -fx-padding: 0; -fx-border-width: 0; -fx-background-insets: 0; }
.my-table-view .text-field:focused { -fx-border-width: 0; -fx-background-insets: 0; }
.dashboard-tile { -fx-border-color: #000000; -fx-border-width: 1px; -fx-border-radius: 25px; -fx-background-insets: 1px; -fx-background-radius: 25px; }
.dashboard-tile-top { -fx-background-color: #0000000F; -fx-pref-height: 250px; -fx-background-radius: 25px 25px 0 0; }
.dashboard-tile-bottom { -fx-background-color: #6DA6BB; -fx-pref-height: 100px; -fx-border-color: #000000; -fx-border-width: 1px 0 0 0; -fx-background-radius: 0 0 25px 25px; }
.dashboard-tile-value { -fx-font-family: 'Aptos'; -fx-font-size: 80px; -fx-fill: #000000; }
.dashboard-tile-label { -fx-font-family: 'Aptos'; -fx-font-size: 20px; -fx-fill: #000000; }
.chart { -fx-background-color: transparent; }
.chart-bar { -fx-border-color: #000000; -fx-border-width: 1px; }
.chart-bar:achieved { -fx-bar-fill: #A2CF6E; }
.chart-bar:failed { -fx-bar-fill: #FF7E82; }
.chart-bar:in-progress { -fx-bar-fill: #F6D96B; }
.chart-series-line { -fx-stroke: #000000; -fx-stroke-width: 1px; }
.chart .axis { -fx-tick-label-font-family: 'Aptos'; -fx-tick-label-font-size: 20.0px; -fx-tick-label-fill: #000000; -fx-tick-label-rotation: -30; }
.chart .axis:left .axis-tick-mark { -fx-stroke: #000000; -fx-stroke-width: 1px; }
.chart .axis .axis-minor-tick-mark { -fx-stroke: transparent; -fx-stroke-width: 0px; }
.chart .axis:bottom .axis-tick-mark { -fx-stroke: transparent; -fx-stroke-width: 0px; }
.chart .axis:bottom { -fx-border-color: #000000 transparent transparent transparent; }
.chart .axis:left { -fx-border-color: transparent #000000 transparent transparent; }
.chart .axis-label { -fx-font-family: 'Aptos'; -fx-font-size: 20.0px; -fx-text-fill: #000000; }
.chart-root { -fx-padding: 50px 50px 50px 50px; }
.chart-plot-background { -fx-background-color: transparent; }
.chart-content { -fx-background-color: transparent; }
.chart-container { -fx-spacing: 20px; }
.chart-controls { -fx-spacing: 10.0px; -fx-alignment: center-left; }
.suggestion-box { -fx-background-color: #6DA6BB; -fx-border-color: #000000; -fx-border-width: 1px; }
.suggestion-box .label { -fx-padding: 5 5; }
.suggestion-box :highlighted { -fx-background-color: #8BD3EE; }
.tag-chip-remove { -fx-border-width: 0px; -fx-border-color: #00000000; -fx-background-color: #6DA6BB; -fx-padding: 0 0; }
.tag-chip-remove .text { -fx-fill: #000000; }
.diary-card { -fx-background-color: #0000000F; -fx-border-color: #000000; -fx-border-width: 1px; -fx-border-radius: 25px; -fx-background-radius: 25px; -fx-background-insets: 1px; -fx-padding: 20.0px; -fx-cursor: hand; }
.diary-card:hover { -fx-background-color: #0000000F; }
.diary-card-date { -fx-font-weight: bold; -fx-fill: #000000; }
.diary-card-tags { -fx-fill: #000000; -fx-font-style: italic; }
.diary-card-text { -fx-fill: #000000; }
.diary-viewer-hint { -fx-fill: #8B0000; -fx-font-style: italic; }
.diary-viewer-results { -fx-spacing: 20.0px; -fx-padding: 20.0px 0px; }
.diary-viewer-scroll { -fx-padding: 10.0px; -fx-background-color: transparent; -fx-background: transparent; -fx-max-width: 1203px; }
.diary-viewer-scroll .viewport { -fx-background-color: transparent; }
.diary-viewer-filter-bar { -fx-max-width: 1203px; -fx-spacing: 10.0px; -fx-padding: 0px 0px 0px 10.0px; }
.diary-viewer-root { -fx-padding: 20.0px 0px; -fx-spacing: 10.0px; }
.movie-viewer-root { -fx-padding: 20.0px; }
.movie-viewer-content { -fx-spacing: 20.0px; }
.movie-viewer-swyt { -fx-padding: 0; -fx-spacing: 16.0px; -fx-min-width: 382px; -fx-pref-width: 382px; -fx-max-width: 382px; }
.movie-viewer-swyt .label { -fx-fill: #000000; }
.movie-viewer-scroll { -fx-padding: 10.0px; -fx-background-color: transparent; -fx-background: transparent; }
.movie-viewer-scroll .viewport { -fx-background-color: transparent; }
.movie-viewer-results { -fx-spacing: 10.0px; }
.movie-card-rating { -fx-font-weight: bold; -fx-alignment: center; -fx-font-size: 77px; -fx-padding: 0; }
.movie-card-rating .text { -fx-fill: #000000; }
.movie-card-header .text { -fx-fill: #000000; -fx-font-weight: bold; }
.movie-card-text .text { -fx-fill: #000000; }
.movie-card-link { -fx-underline: true; -fx-cursor: hand; }
.movie-card-link .text { -fx-fill: #000000; }
.movie-comment-popup { -fx-border-color: #000000; -fx-border-width: 1px; -fx-border-radius: 10px; -fx-background-insets: 1px; -fx-background-radius: 10px; -fx-background-color: #B3D6E2; -fx-padding: 10.0px; -fx-font-size: 20.0px; }
